<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        <sectionGroup name="businessObjects" />
    </configSections>
    <connectionStrings>
        <add name="SQLServer" providerName="System.Data.SqlClient" connectionString="Server=123.30.109.10;Database=webfman_com_HuyHoangMobile;uid=webfman_hh;pwd=KTu#6zmaw@pT*@9J;Connect Timeout=40"/>
        <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-QLVT(2)-20150417111105;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-QLVT(2)-20150417111105.mdf"/>-->
    </connectionStrings>
    <system.web>
        <httpRuntime maxRequestLength="10240"/>
        <customErrors mode="Off"/>
        <compilation debug="true" targetFramework="4.0"></compilation>

        <!--<authentication mode="Forms">
            <forms loginUrl="~/DangNhap.aspx" timeout="3" defaultUrl="~/index.aspx" />
        </authentication>

        <profile defaultProvider="DefaultProfileProvider">
            <providers>
                <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
            </providers>
        </profile>
        <membership defaultProvider="DefaultMembershipProvider">
            <providers>
                <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
            </providers>
        </membership>
        <roleManager defaultProvider="DefaultRoleProvider">
            <providers>
                <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
            </providers>
        </roleManager>-->
        <sessionState mode="InProc" customProvider="DefaultSessionProvider" timeout="30">
            <providers>
                <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
            </providers>
        </sessionState>

    </system.web>

    <system.web.extensions>
        <scripting>
            <webServices>
                <jsonSerialization maxJsonLength="5000000"/>
            </webServices>
        </scripting>
    </system.web.extensions>

    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    </entityFramework>

    <system.webServer>
        <staticContent>
            <remove fileExtension=".woff"/>
            <remove fileExtension=".woff2"/>
            <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
            <mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
        </staticContent>

        <defaultDocument>
            <files>
                <clear/>
                <add value="index.aspx"/>
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>